html {
  scroll-behavior: smooth;
}

header {
  border-bottom: 2px solid rgba(194, 194, 194, 0.5);
  padding-bottom: 40px;
}

nav {
  text-align: right;
}

nav a {
  text-decoration: none;
  padding-right: 10px;
}

.grayText {
  color: gray;
}

.blueText {
  color: blue;
}

.noMargin {
  margin: 0;
}

main {
  margin-top: 20px;
}

section {
  margin-bottom: 500px;
}

section p {
  width: 80%;
  margin: 15px auto;
  max-width: 700px;
}

iframe {
  display: block;
  margin: auto;
  width: 80%;
  max-width: 700px;
  height: 400px;
}